@{
    Layout = null;
}
@Scripts.Render("~/Content/Bootstrap/js")
@Scripts.Render("~/bundles/jquery")
<!------ Include the above in your HEAD tag ---------->

@*<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>*@
    @Styles.Render("~/Content/Bootstrap/css")
	@Styles.Render("~/Content/FontAweSome/css")
    <link rel="stylesheet" href="@Url.Content("~/Content/AnotherCss/Login.css")" />
	
	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="styles.css">
@*</head>
<body>*@
<style>
    p
    {
        color:white;
    }
    .card{
        height: 450px;
        margin-top: auto;
        margin-bottom: auto;
        width: 400px;
        background-color: rgba(0,0,0,0.5) !important;
    }

</style>
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
            <div class="card-header">
				<h3>Change Password</h3>
			</div>
			<div class="card-body">
                <form>
                    <p id="pesanerror"></p>
                    <div class="input-group form-group" >
		                <div class="input-group-prepend">
		                	<span class="input-group-text"><i class="fa fa-user"></i></span>
		                </div>
		                <input type="text" class="form-control" placeholder="Email" id="txtusername"/>
	                </div>
                    <div id="divusername"></div>
	                <div class="input-group form-group" >
	                	<div class="input-group-prepend">
	                		<span class="input-group-text"><i class="fa fa-key"></i></span>
	                	</div>
	                	<input type="text" class="form-control" placeholder="OTP" id="txtOTP"/>
	                	 @*<p id="pesanerroruser"></p>*@
	                </div>
                    <div id="divOTP"></div>
	                <div class="input-group form-group" >
	                	<div class="input-group-prepend">
	                		<span class="input-group-text"><i class="fa fa-key"></i></span>
	                	</div>
	                	<input type="password" class="form-control" placeholder="password" id="txtpassword"/>
                        <p id="pesanerrorpass"></p>
	                </div>
                    <div id="divpassword"></div>
                    <div class="input-group form-group" >
	                	<div class="input-group-prepend">
	                		<span class="input-group-text"><i class="fa fa-key"></i></span>
	                	</div>
	                	<input type="password" class="form-control" placeholder="confirm password" id="txtcopassword"/>
                        <p id="pesanerrorcopass"></p>
	                </div>
                    <div id="divcopassword"></div>
	                <div class="row align-items-center remember">
	                	<input type="checkbox">Remember Me
	                </div>
	                <div class="form-group">
	                	<button id="btnChangePassword" type="button" value="ChangePassword" class="btn float-right login_btn">Change Password</button>
	                </div>
                </form>
			</div>
		</div>
	</div>
</div>@*
@*</body>
</html>*@

<script type="text/javascript">
	$(document).ready(function () {
	   
	});

	$("#btnChangePassword").click(function () {
	    $("#divOTP").empty();
	    $("#divpassword").empty();
	    $("#divcopassword").empty();
	    if ($("#txtusername").val() == "") {
	        $("<p>Input Email</p>").appendTo($("#divusername"));

	    } else if ($("#txtOTP").val() == "") {
	        $("<p>Input OTP</p>").appendTo($("#divOTP"));

	    } else if ($("#txtpassword").val() == "") {
	        $("<p>input password</p>").appendTo($("#divpassword"));
	    }
        else if ($("#txtcopassword").val() == "") {
	        $("<p>input confirm password</p>").appendTo($("#divcopassword"));
        }
        else if ($("#txtcopassword").val() != $("#txtpassword").val()) {
            $("<p>Different Password and Confirm Password</p>").appendTo($("#divcopassword"));
        }
	    else { CallajaxChangePassword(); }
	});

	function CallajaxChangePassword() {
	    var params = new Object();
	    params.Email = $("#txtusername").val(),
	    params.OTP = $("#txtOTP").val(),
	    params.Password = $("#txtcopassword").val()
	    $.ajax({
	        type: "POST",
	        url: "@Url.Content("~/Login/ChangePassword")",
	        contentType: 'application/json',
	        dataType: 'json',
	        traditional: true,
	        data: JSON.stringify(params),
	        success: function (returnResult) {
	            //
	            if (returnResult.Result == "SUCCESS") {
	                window.location = window.location.origin +'/'+returnResult.RedirectURL;
	            }
	            else {
	                $("#pesanerror").html(returnResult.ErrMesgs[0]);
	            }

	        },
	        error: function (data) {
	            //showErrorMesgGrowl('Login failed');
	        }
	    });
    }
	
</script>